* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Full page landing with snap scroll effect */
.landing-page {
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.landing-page > section {
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-title-container {
  width: 70%;
  padding: 20px;
  background: rgba(0, 0, 0, 0.575);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  margin: 50px auto;
  margin-top: 0px;
}

.hero-title-text {
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
  font-size: 2.5rem;
  text-align: center;
}

/* Hero section */
.hero-section {
  background: url("../assets/rabbit-hero-v3.jpg") center/cover no-repeat;
  color: white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Info cards with modern blur effect */
.info-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(
    0,
    0,
    0,
    0.65
  ); /* Semi-transparent black background for better readability */
  backdrop-filter: blur(8px); /* Soft blur effect */
  border-radius: 10px;
  padding: 30px; /* Increased padding for better spacing */
  width: 25vw;
  min-height: 25vh;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 1rem; /* Adjust font size as necessary */
  line-height: 1.6; /* Increased line height for better legibility */
  letter-spacing: 0.05em; /* Slight increase in letter spacing */
  text-align: left;
  transition: transform 0.3s ease-in-out; /* Smooth transition for hover effects */
}

.info-card h2,
.info-card p {
  margin-bottom: 15px; /* Adding margin to separate headings and paragraphs */
}

.info-card h2 {
  font-size: 1.2rem;
  font-weight: bold; /* Bolder font for headings */
  color: #c7a33f; /* Slightly lighter color for headings */
}

.info-card p {
  font-size: 1rem;
  color: #e4e4e4; /* Slightly lighter color for headings */
}

.info-card:hover {
  transform: scale(1.05);
}

.left {
  align-self: flex-start;
  margin-left: 10%;
}

.right {
  align-self: flex-end;
  margin-right: 10%;
}

.start-game-btn {
  font-family: "Press Start 2P", system-ui;
  width: auto;
  margin-top: 20px;
  padding: 15px 30px;
  font-size: 1.2rem;
  background-color: #6b9322f2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.3s;
  outline: none;
}

.start-game-btn:hover,
.start-game-btn:focus {
  background-color: rgb(100, 128, 0);
  transform: scale(1.1);
}

.features-section {
  background: url("../assets/features-section.jpg") center/cover no-repeat;
  color: white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reviews-section {
  background: url("../assets/reviews-section.jpg") center/cover no-repeat;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.review-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  align-content: space-around;
}

.review-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 30vh;
  background-color: #0e121ce3;
  border: 2px solid #cccccc79;
  border-radius: 8px;
  backdrop-filter: blur(5px);
  width: 30%;
}

@media (max-width: 768px) {
  .landing-page > section {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .hero-title-container {
    margin-top: 5vh;
    border-radius: 10px;
    height: 20vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 10px;
  }

  .info-card {
    width: 90%;
    padding: 30px;
    width: 90%;
    min-height: 40vh;
    border: 2px solid #ccc;
    font-size: 1rem;
    line-height: 1.6;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    margin: 0 auto;
  }

  .hero-title-text {
    font-size: 1.7rem;
    text-align: center;
  }

  .hero-section,
  .landing-page > section {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .start-game-btn {
    margin-top: 18px;
    font-size: 24px;
    padding: 12px 24px;
  }
  .review-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    align-content: space-around;
  }

  .review-card {
    margin-top: 2vh;
    min-width: 80vw;
    min-height: 10vh;
    background-color: #0e121ce3;
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 5px;
    backdrop-filter: blur(5px);
    width: 90%;
  }

  .review-card h3 {
    color: #bbed5f;
  }

  .review-card p {
    margin-top: 20px;
    font-size: 1em;
    line-height: 1.1;
  }
}
