body {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  background-color: #2d004e;
  color: #f7f7f7;
  min-height: 100svh;
}

.game-page {
  background: url("../assets/engine-background.jpg") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.low-stat {
  color: red;
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

.game-page .game-container {
  font-family: "Press Start 2P", system-ui;
  color: #f7f7f7;
  background: rgba(18, 21, 43, 0.82);
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 20px rgba(50, 30, 60, 0.75);
  border-radius: 20px;
  backdrop-filter: blur(5px);
}

header {
  background: rgba(23, 2, 39, 0.58);
  color: #f7f7f7;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
}

header h1 {
  font-size: 24px;
  margin-bottom: 0;
}

.stats {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.stats p {
  margin: 0 10px;
  font-size: 16px;
}

.loading {
  font-size: 18px;
  background-color: rgba(112, 200, 34, 0.82);
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  animation: blinker 1.5s linear infinite;
}

.restart-button {
  font-family: "Press Start 2P", system-ui;
  margin-top: 30px;
  padding: 20px 30px;
  font-size: 1.2rem;
  color: #fff;
  background-color: #a9a01f;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.restart-button:hover {
  background-color: #c5ba23;
  transform: scale(1.1);
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

section {
  margin-top: 20px;
}

.game-page {
  background: url("../assets/engine-background.jpg") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.game-page .game-container {
  font-family: "Press Start 2P", system-ui;
  color: #f7f7f7;
  background: rgba(18, 21, 43, 0.82);
  max-width: 90vw;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 20px rgba(50, 30, 60, 0.75); /* Deeper purple shadow for more depth */
  border-radius: 20px;
  backdrop-filter: blur(5px);
}

header {
  background: rgba(23, 2, 39, 0.58);
  color: #f7f7f7;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
}

header h1 {
  font-size: 24px;
  margin-bottom: 0; /* adjusted spacing */
}

.stats {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.stats p {
  margin: 0 10px;
  font-size: 16px;
}

.loading {
  font-size: 18px;
  background-color: rgba(112, 200, 34, 0.82);
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  animation: blinker 1.5s linear infinite;
}

section {
  margin-top: 20px;
}

.game-over {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: #f7f7f7;
  font-size: 24px;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  z-index: 1000;
  backdrop-filter: blur(10px);
  animation: none;
}

.game-over-image {
  height: 50vh;
  width: auto;
  margin-bottom: 3vh;
}

.ending-message-text {
  width: 80vw;
  margin-bottom: 5vh;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .game-over-image {
    width: 100%;
    height: auto;
  }

  .ending-message-text {
    width: 95%;
    margin-bottom: 3vh;
    font-size: 0.9rem;
  }

  .restart-button {
    margin-top: 20px;
    padding: 20px 20px;
    font-size: 0.8rem;
  }

  .stats {
    flex-direction: column;
    align-items: center;
  }

  .stats p {
    font-size: 14px;
    margin-bottom: 5px;
  }
}
