body {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  background-color: #2d004e;
  color: #f7f7f7;
  min-height: 100svh;
}

.game-page {
  background: url("../assets/engine-background.jpg") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100svh;
}

.game-page .game-container {
  font-family: "Press Start 2P", system-ui;
  color: #f7f7f7;
  background: #12152bd2;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(50, 30, 60, 0.5); /* Purple shadow for depth */
  border-radius: 20px;
}

header {
  background: #17022796;
  color: #f7f7f7;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
}

header h1 {
  font-size: 24px;
  margin-bottom: 5svh;
}

.stats {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.stats p {
  margin: 0 10;
  font-size: 16px;
  color: #f7f7f7; /* Light grey text for stats to stand out */
}

.loading {
  font-size: 18px;
  color: #f7f7f7;
  background-color: #70c822d0; /* A lighter shade of purple for loading */
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  animation: blinker 1.5s linear infinite;
}

.money-out-warning {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 1.5em;
  text-align: center;
  z-index: 1000;
  margin-bottom: 150px;
}

.money-out-warning img {
  width: 30%;
  margin-bottom: 20px;
}

.money-out-warning p {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.restart-button {
  font-family: "Press Start 2P", system-ui;
  padding: 10px 40px;
  font-size: 1.2em;
  color: #fff;
  background-color: #797215;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.restart-button:hover {
  background-color: #0056b3;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

section {
  margin-top: 20px;
}

.game-over {
  font-size: 24px;
  color: #f7f7f7;
  background-color: #5a009d;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  animation: bounce 1s infinite;
}

/* Responsive Design */
@media (max-width: 768px) {
  .stats {
    flex-direction: column;
    align-items: center;
  }

  .stats p {
    font-size: 14px;
    margin-bottom: 5px;
  }

  .money-out-warning p {
    font-size: 0.6em;
  }

  .money-out-warning img {
    width: 80%;
  }

  .restart-button {
    margin-top: 3svh;
    padding: 20px 30px;
    font-size: 0.6em;
    width: 80%;
    margin-bottom: 10svh;
  }
}

/* Animations and Transitions */
.stats p {
  transition: transform 0.2s ease-in-out;
}

.stats p:hover {
  transform: scale(1.1);
}

.restart-button:hover {
  background-color: #0056b3;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}
